<nav class="navbar sticky-top navbar-light bg-light">
  <div class="container-fluid">
    <%= render 'layouts/navbars/navbar_brand' %>
    <%= link_to "Logout", destroy_user_session_path, data: { "turbo-method": :delete }, class: 'btn btn-outline-danger' %>
  </div>
</nav>